/** Fonts Variables **/

$ff1: "Archivo Black", sans-serif;
$ff2: "Playfair Display", serif;
$ff3: "Montserrat", sans-serif;
$ff4: "Poppins", sans-serif;

/** Color Variables **/

$bg: #0B0C10;
$color: #1F2833;
$pera: #C5C6C7;
$header: #66FcF1;
$hover: #45A29E;