@import '../abstracts/variables';
@import '../abstracts/mixins';

#banner {
    background-color: $bg;
    padding: 120px 0 120px;
    .banner-lt {
        h5 {
            @include fs ($pera, 16px, 400, $ff3);
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        h2 {
            @include fs ($pera, 50px, 500, $ff2);
            text-transform: uppercase;
            margin-bottom: 30px;
            span {
                color: #ff014f;
            }
        }
        h1 {
            @include fs ($pera, 60px, 700, $ff1);
            text-transform: capitalize;
        }
        p {
            @include fs ($pera, 13px, 400, $ff4);
            line-height: 24px;
            margin-bottom: 60px;
        }
        .banner-icon {
            display: flex;
            .icon-lt {
                margin-right: 120px;
                h6 {
                    @include fs ($pera, 13px, 400, $ff3);
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
                i {
                    margin-right: 15px;
                    color: $header;
                    padding: 20px 20px;
                    background-color: $color;
                    transition: all linear .3s;
                    -moz-transition: all linear .3s;
                    -ms-transition: all linear .3s;
                    -o-transition: all linear .3s;
                    -webkit-transition: all linear .3s;
                    &:hover {
                        color: $hover;
                        transform: scale(1.1);
                    }
                }
            }
            .icon-rt {
                h6 {
                    @include fs ($pera, 13px, 400, $ff3);
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
                i {
                    margin-right: 15px;
                    color: $header;
                    padding: 20px 20px;
                    background-color: $color;
                    transition: all linear .3s;
                    -moz-transition: all linear .3s;
                    -ms-transition: all linear .3s;
                    -o-transition: all linear .3s;
                    -webkit-transition: all linear .3s;
                    &:hover {
                        color: $hover;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}